<h2>Products available</h2>

<% if @products.blank? %>
	<p>No products yet</p>
<% else %>
	<% @products.each do |product| %>
		<ul>
			<li><%= link_to product.title, product_path(product) %></li>
		</ul>
	<% end %>
<% end %>